html {
	height: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	box-sizing: border-box;
	font-family: "Courier Prime", monospace;
    background-color: #ffffff;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}


/*====== WIDTH ======*/
.screenW {
    width: 100vw;
}
.fullW {
    width: 100%;
}
/*====== HEIGHT ======*/
.screenH {
    height: 100vh;
}
.fullH {
    height: 100%;
}
.height70 {
    height: 70px;
}
/*====== BG COLOR ======*/
.dGray {
    background-color: #333;
}
.white {
    background-color: #fff;
}
.white50 {
    background-color: #ffffff80;
}
.black50 {
    background-color: #00000080;
}
/*====== FONT ======*/
.fSize2 {
    font-size: 2rem;
}
/*====== IMAGE ======*/
.imgCover {
    object-fit: cover;
}
/*====== OVERFLOW ======*/
.overflowH {
    overflow: hidden;
}
/*====== TRANSITIONS ======*/
.transition1l {
    transition: left 1s ease-in-out;
}
/*====== POSITION ======*/
.abs {
    position: absolute;
}
.rel {
    position: relative;
}
.left0 {
    left: 0px;
}
.left100vw {
    left: 100vw;
}
.leftM100vw {
    left: -100vw;
}
.bot0 {
    bottom: 0;
}
/*====== FLEX ======*/
.df {
    display: flex;
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.fCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex1 {
    flex: 1;
}
.flex8 {
    flex: 8;
}

/*====== CUSTOM ======*/
.dot {
    width: 10px;
}
.slick-prev:before, .slick-next:before {
    color:black !important;
}

/* Forms */
input {
    margin: 1.2rem 0;
  }
  
  .form-text {
    display: block;
    margin-top: 0.3rem;
    color: #888;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='date'],
  input[type='radio'],
  select,
  textarea {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
  }
  
  input[type='submit'],
  button {
    font: inherit;
  }
  
  .form-group {
    margin: 1.2rem 0;
  }
  
  .form-group input {
    margin: 0.2rem 0;
  }
  
  .form-container {
    max-width: 500px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 0 2rem;
  }
  
  .form-container h1,
  h2,
  h3 {
    text-align: center;
  }
  
  table th,
  table td {
    padding: 1rem;
    text-align: left;
  }
  
  table th {
    background: var(--light-color);
  }
  [type="radio"]:not(:checked), [type="radio"]:checked {
    opacity: 1;
    position: inherit;
}
.react-datepicker{
    /* margin-left: 100%; */
    z-index:2000;
}
.react-datepicker-wrapper{
    margin-left: 15%;
    width: 50%;
}

.alert {
    padding: 0.7rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
  }
  
  .btn-primary,
  .bg-primary,
  .badge-primary,
  .alert-primary {
    background: var(--primary-color);
    color: #fff;
  }
  
  .btn-light,
  .bg-light,
  .badge-light,
  .alert-light {
    background: var(--light-color);
    color: #333;
  }
  
  .btn-dark,
  .bg-dark,
  .badge-dark,
  .alert-dark {
    background: var(--dark-color);
    color: #fff;
  }
  
  .btn-danger,
  .bg-danger,
  .badge-danger,
  .alert-danger {
    background: var(--danger-color);
    color: #fff;
  }
  
  .btn-success,
  .bg-success,
  .badge-success,
  .alert-success {
    background: var(--success-color);
    color: #fff;
  }
  
  .btn-white,
  .bg-white,
  .badge-white,
  .alert-white {
    background: #fff;
    color: #333;
    border: #ccc solid 1px;
  }
  